= form_for @wedge do |f|
  - if @wedge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wedge.errors.count, "error")} prohibited this wedge from being saved:"
      %ul
        - @wedge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :input_type
    = f.text_field :input_type_id
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
