.btn-group(data-wedge-id="#{wedge.id}")
  %button(type="button" class="btn btn-info" id="title-button#{wedge.id}")= wedge.title
  %button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdown-button#{wedge.id}")
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu(role="menu")
    - wedge.wedge_elements.each do |we|
      %li(data-outputwedge="#{we.output_wedge_id}" data-weid="#{we.id}" class="wedge_#{wedge.id}_link")
        %a(href="")= we.title
    %li.divider
    %li
      %a(href="")= wedge.wedge_elements.count

  :coffee
    $ ->
      #prime dropdowns so they fire
      $("button#dropdown-button#{wedge.id}").dropdown()  
      #capture clicks on wedge elements. 
      $("li.wedge_#{wedge.id}_link").click (event) -> 
        #stop the page reloading
        event.preventDefault()
        #get rid of any btn-groups to the right of the one that's just been clicked
        $(this).parents("div.btn-group").nextAll('div.btn-group').remove()
        #make the wedge display the text of the wedge element that was clicked
        clicked_text = $(this).text()
        $("button#title_button#{wedge.id}").text(clicked_text)
        output_wedge = $(this).data("outputwedge")
        current_wedge_list = $('div.btn-group').map -> 
          $(this).data('wedge-id')
        #fetch the wedge (via js) called for by whichever wedge elements was clicked
        # .get() turns JQuery object collection into plain array
        $.get( "/wedges/" + output_wedge + '.js', {wedge_ids: current_wedge_list.get()} )    
    
