<h1>Listing wedges</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Input type</th>
      <th>Output type</th>
      <th>Title</th>
      <th>Handles lists?</th>
	  <th>Output is list?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wedges.each do |wedge| %>
      <tr>
        <td><%= wedge.input_type %></td>
        <td><%= wedge.output_type %></td>
        <td><%= wedge.title %></td>
        <td><%= wedge.handles_lists %></td>
		<td><%= wedge.output_is_list %></td>
        <td><%= link_to 'Show', wedge %></td>
        <td><%= link_to 'Edit', edit_wedge_path(wedge) %></td>
        <td><%= link_to 'Destroy', wedge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedge', new_wedge_path %>
