%h1 Listing wedges

%table
  %tr
    %th Title
    %th Input type
    %th Description
    %th
    %th
    %th

  - @wedges.each do |wedge|
    %tr
      %td= wedge.title
      %td= wedge.input_type.name
      %td= wedge.description
      %td= link_to 'Show', wedge
      %td= link_to 'Edit', edit_wedge_path(wedge)
      %td= link_to 'Destroy', wedge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wedge', new_wedge_path
