<p id="notice"><%= notice %></p>

<p>
  <strong>Input type:</strong>
  <%= @wedge.input_type.name %>
</p>

<p>
  <strong>Output type:</strong>
  <%= @wedge.output_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wedge.title %>
</p>

<p>
  <strong>Handles lists?:</strong>
  <%= @wedge.handles_lists %>
</p>

<p>
  <strong>Output is list?:</strong>
  <%= @wedge.output_is_list %>
</p>

<%= link_to 'Edit', edit_wedge_path(@wedge) %> |
<%= link_to 'Back', wedges_path %> |
<%= link_to 'Index', wedges_path %>
